@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

.row-menu{

}
.header {
  margin-left: 0;
  margin-right: 0;
  background: #d55555;
  font-size: 25px;

}

.header span {
  display: block;
  font-weight: 900;
font-family: 'Chonburi', cursive;
}
